<!DOCTYPE html>
<html>
<head>
	<title>Model Test Form</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/model-test.css">
	
</head>
<body ng-app="modelTest">

<div class="container">
<header class="page-header">
			<h1 id="title">Angular Models</h1>
</header>


<div class="row">
<form class ="col-md-8" novalidate name="userform">


	<div class="form-group">
    	<label for="first_name">First Name</label>
    	<input type="text" class="form-control" id="first_name" ng-model="user.firstName" name="first_name" maxlength="50" required>
    </div>

    <div class="form-group">
    	<label for="last_name">Last Name</label>
    	<input type="text" class="form-control" id="last_name"  ng-model="user.lastName" maxlength="100" required>
    </div>

    <div class="form-group">
    	<label for="email">Email</label>
    	<input type="email" class="form-control" id="email" ng-model="user.email" required>
    </div>

    <div class="form-group">
    	<label for="birth">Date of birth</label>
    	<input type="date" class="form-control" id="dob" ng-model="user.dob" required>
    </div>

    <div class="form-group">
   		<label for="github">Github</label>
    	<input type="text" class="form-control" id="github" ng-model="user.github" required>
    </div>

    <div class="form-group">
		<label for="icon">Icon</label>
		<select class="form-control" id="icon" ng-model="user.icon" required>
		<option ng-repeat="logo in ['bower', 'batman', 'superman']">{{ logo }}</option>
		</select>
	</div>
</form>

	<div class="col-md-4">
	<div class="well" ng-if="userform.$valid">
		<img id="logo" ng-src="/img/{{ user.icon }}.png">
		<h3>{{ user.firstName}} {{ user.lastName }}</h3>
		<h3>{{ user.email}}</h3>
		<h3>{{ user.dob | date: format: longDate }}</h3>
		<h3><a href="https://github.com/{{ user.github }}">https://github.com/{{ user.github }}</a></h3>
	</div>
	</div>
</div>
</div>

<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/modelTest.js"></script>
</body>
</html>